<html>
    <head>
        <title>{{title}}</title>        
        <link rel="stylesheet" href="css/bundle.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        {{{body}}}
        <script src="js/bundle.js"></script>
    </body>
</html>